{% extends 'base_layout.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/registerpage.css' %}">
{% endblock %}
{% block content %}
<div class="leftContainer">
    <h1>Welcome to dashboard</h1>
    <p>This is the homepage of lead management system, register now</p>
    <img src="{% static 'images/illustration.svg' %}">
</div>
<div class="rightContainer">
    <div class="registrationFormContainer">
        <h1>Register a new account</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="nameGroup">
                {{ form.firstname }}
                <span></span>
                {{ form.lastname }}
            </div>
            {{ form.email }}    
            {{ form.phonenumber }}
            {{ form.password }}
            {{ form.password_2 }}
            <input class="submitButton" type="submit" value="Register">
            <p id="loginLink">Already have an account?<a href="{% url 'user_login' %}">Login Now</a></p>
        </form>
    </div>
</div>
{% endblock %}